/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo global */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilo do cabeçalho */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    color: #fff;
    z-index: 999; /* Certifique-se de definir um valor de z-index alto o suficiente para garantir que o cabeçalho fique acima do conteúdo */
  }
  
  header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #666;
    border-radius: 3px;
  }
  
  /* Estilo das seções */
  section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    padding-top: 70px; /* Adicione um preenchimento superior para evitar que o conteúdo seja ocultado pelo cabeçalho fixo */
  }
  
  section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  section p {
    margin-bottom: 10px;
  }
  
  section ul {
    margin-bottom: 10px;
  }
  
  /* Estilo do formulário de contato */
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Estilo do rodapé */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }  
  
  /* Media queries para dispositivos móveis */
@media only screen and (max-width: 600px) {
    header h1 {
      font-size: 20px;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  
    section {
      padding: 10px;
    }
  }
  
  /* Media queries para tablets */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    header h1 {
      font-size: 22px;
    }
  
    nav ul li {
      display: inline-block;
      margin-bottom: 0;
    }
  }
  